.homegape {
    background-image: url(../imgs/header.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.Cards {
    margin-top: -100px;
    display: flex;
    flex-wrap: wrap;
}

.index {
    width: 100%;
    min-height: 50vh;
}